body{
    margin: 0;
}
.dashboard-container{
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 200px 100%;
}
.sidebar{
    background: #0284c7;
    grid-row: 1/4;
    grid-column: 1/2;
}
.mid-sidebar-container{
    padding-top: 40px;
    padding-bottom: 40px;
}
.sidebar-items{
    display: flex;
    align-items: center;
    color: whitesmoke;
    gap: 20px;
    padding-left: 20px;
}
svg{
    fill: whitesmoke;
    width: 30px;
    height: 30px;
}



/* header section */

.header{
    background: white;
    grid-template-rows: 1/2;
    grid-template-columns: 2/3;
}
.sub-header-one{
    display: flex;
    gap: 10px;
}
.header-svg{
    fill: black;
}
#header-item-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2%;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 2%;
}
#searchbar{
    width: 40vw;
    height: 35px;
    background: lightgray;
    border-radius: 20px;
}

.sub-header-two{
    display: flex;
    align-items: center;
    gap: 30px;
}

img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

#header-item-2{
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 4%;
}
#sub-header-item-2{
    display: flex;
    gap: 30px;
}
#main-profile-img{
    width: 80px;
    height: 80px;
}
#username-container{
    width: 300px
}
#header-item-2 p{
    font-weight: bold;
}
#user-id{
    font-size: x-large;
}
ul{
    list-style: none;
    display: flex;
    margin-left: 15%;
}
li{
    background: #0284c7;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
    color: white;
}


/* main container section */

.main-content{
    grid-template-rows: 3/4;
    grid-template-columns: 2/3;
    background: #e5e7eb;
    display: flex;
}
.left-content{
    width: 70%;
    padding:  1%;
}

.left-content-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
    grid-template-rows: repeat(3, minmax(200px 1fr));
    gap: 2%;
}
.left-content-grid-item{
    background: white ;
    border-radius: 10px;
    position: relative;
    padding: 5%;
    background-image: linear-gradient(to right, orange 2%, rgba(0,0,0,0) 2%); 
}
.left-content-svg{
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 20px;
}

.left-content-svg svg{
    fill: black; 
}

.right-content{
    width: 30%;
    margin-right: 1%;
}
.subcontent-announcement,.subcontent-trending{
    background: white;
    padding: 3%;
    border-radius: 10px;
}
.trending-item{
    display: flex;
    align-items: center;
    gap: 15px;
    padding-left: 10px;
}